<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:ausstello="http://typo3.org/ns/Werkraum/Ausstello/ViewHelper"
      data-namespace-typo3-fluid="true"
>
<f:variable name="eventUrl"><f:uri.action pageUid="{settings.detailPid}" action="detail" controller="Event" extensionName="Ausstello" pluginName="Event" absolute="1" arguments="{event: event.id}" addQueryString="false"/></f:variable>
<a href="{eventUrl}" class="ausstello-list-teaser" >
    <div class="ausstello-list-teaser-info{f:if(condition: event.isHighlight, then:' highlight')}">
        <f:if condition="{event.primaryCategory.0}">
            <f:render partial="Event/CategoryIcon" arguments="{category: '{meta.categories.{event.primaryCategory.0}}'}"/>
        </f:if>
        <div class="ausstello-list-teaser-datetime">
            <div class="ausstello-list-datetime-mobile-wrapper">
                <div class="ausstello-list-teaser-info-date">
                    <f:render partial="Event/Date" arguments="{startDate: event.startDate, endDate: event.endDate, format: ' %d. %B %Y'}"/>
                </div>
                <div class="ausstello-list-teaser-info-time">
                    <f:render partial="Event/Time" arguments="{startTime: event.startTime, endTime: event.endTime, format: 'H:i'}"/>
                </div>
            </div>
        </div>
        <div class="ausstello-list-teaser-info-text">
            <h2 class="ausstello-list-teaser-title">{event.title -> f:format.htmlentitiesDecode()}</h2>
            <h3 class="ausstello-list-teaser-subtitle">{event.subTitle -> f:format.htmlentitiesDecode()}</h3>
            <div class="ausstello-list-teaser-locations">
                <f:for each="{event.location}" as="l">
                    <div class="ausstello-list-teaser-location">
                        <f:image src="EXT:ausstello/Resources/Public/Icons/pin.svg" width="10" height="14"/>
                        <f:variable name="locationData" value="{meta.locations.{l}}" />
                        <div title="{locationData.name -> f:format.stripTags()}">
                            <span>{locationData.name -> f:format.htmlentitiesDecode()}</span>
                        </div>
                    </div>
                </f:for>
            </div>
        </div>
        <div class="ausstello-list-teaser-detail-info">
            <div class="ausstello-list-teaser-detail-info-btn">
                <f:image src="EXT:ausstello/Resources/Public/Icons/arrow_right.svg" width="13" height="10"/> <span>Details</span>
            </div>
            <div class="ausstello-list-teaser-tags">
                <f:for each="{event.tags}" as="t">
                    <f:variable name="tag" value="{meta.tags.{t}}"/>
                    <f:if condition="{tag.displayOnWebsite} !== false"><span
                        class="ausstello-list-category-item" style="text-decoration: underline">#{tag.name}</span>
                    </f:if>
                </f:for>
            </div>
        </div>
    </div>
    <f:alias map="{image: event.images.0}">
        <div class="ausstello-list-teaser-image">
            <f:if condition="{image.file.publicUrl}">
                <f:then>
                    <ausstello:remote.image
                        alt="{image.alternative}"
                        title="{image.title}"
                        loading="lazy"
                        width="880"
                        src="{image.file.publicUrl}"
                    />
                    <f:if condition="{image.copyright}">
                        <span class="image-copyright">© {image.copyright}</span>
                    </f:if>
                </f:then>
                <f:else if="{meta.settings.publish.noPlaceholderImages} == FALSE">
                    <f:variable name="imageCount" value="{meta.settings.publish.placeholderImages -> f:count()}"/>
                    <f:if condition="{imageCount} > 0">
                        <f:variable name="randomIndex"><ausstello:randomNumber min="0" max="{imageCount - 1}"></ausstello:randomNumber></f:variable>
                        <f:if condition="{meta.settings.publish.placeholderImages.{randomIndex}.publicUrl}">
                            <ausstello:remote.image
                                alt=""
                                loading="lazy"
                                width="880"
                                src="{meta.settings.publish.placeholderImages.{randomIndex}.publicUrl}"
                            />
                        </f:if>
                    </f:if>
                </f:else>
                <f:else>
                </f:else>
            </f:if>
        </div>
    </f:alias>
</a>
</html>
