<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:ausstello="http://typo3.org/ns/Werkraum/Ausstello/ViewHelper"
      data-namespace-typo3-fluid="true"
>
<f:layout name="Default"/>
<f:section name="Main">
    <div class="ausstello-detail-container d-flex flex-row">
        <div class="ausstello-detail-column">
            <a class="ausstello-back" href="{f:uri.action(action: 'list', absolute: '1', extensionName: 'ausstello', pluginName: 'Event', controller: 'Event', pageUid: settings.listPid)}" onclick="window.history.back(); return false;" target="_top">
                <f:image src="EXT:ausstello/Resources/Public/Icons/arrow_left.svg" width="15" height="15"/> zurück
            </a>
        </div>
        <div class="ausstello-detail-column" style="display: flex;">
            <a class="ausstello-share"
               data-title="{event.title -> f:format.htmlentitiesDecode()}"
               data-text="{event.subTitle -> f:format.htmlentitiesDecode()}"
               href="{f:uri.page(absolute: '1', addQueryString: '1')}"
               onclick="window.navigator.share({title: this.dataset.title, text: this.dataset.text, url: this.href}); return false;" target="_top">
                <f:image src="EXT:ausstello/Resources/Public/Icons/share.svg" width="18" height="23"/>
            </a>
        </div>
    </div>
    <f:if condition="{event.state} == 'canceled' || {event.state} == 'moved'">
        <div class="ausstello-item-cancelled">
            <div class="ausstello-item-cancelled-title">
                <f:if condition="{event.state} == 'canceled'">
                    <f:then>
                        Veranstaltung entfällt
                    </f:then>
                    <f:else if="{event.state} == 'moved'">
                        Veranstaltung verschoben
                    </f:else>
                </f:if>
            </div>
            <div class="ausstello-item-cancelled-content">
                <f:if condition="{event.cancelReason}">
                    <f:then>
                        <f:format.raw>{event.cancelReason -> f:format.htmlentitiesDecode()}</f:format.raw>
                    </f:then>
                    <f:else if="{event.state} == 'canceled'">
                        Keine weiteren Informationen bekannt.
                    </f:else>
                    <f:else if="{event.state} == 'moved'">
                        Das Event wird nachgeholt, den Termin geben wir bekannt.
                    </f:else>
                </f:if>
            </div>
        </div>
    </f:if>
    <div class="ausstello-detail-container d-flex flex-column flex-lg-row" style="margin-bottom: 15px;">
        <div class="ausstello-detail-column {f:if(condition: '{event.state} == \'canceled\' || {event.state} == \'moved\'', then: 'ausstello-event-canceled')}">
            <div class="ausstello-detail-date">
                <f:format.date format="%A, %d. %B %Y">{event.startDate}</f:format.date>
            </div>
            <div class="ausstello-detail-time"><f:render partial="Event/Time" arguments="{startTime: event.startTime, endTime: event.endTime, format: 'H:i'}"/></div>
        </div>
        <div class="ausstello-detail-column d-none d-lg-flex justify-content-end">
            <div class="ausstello-detail-primary-category">
                <f:if condition="{event.primaryCategory.0}">
                    <f:render partial="Event/CategoryIcon"
                              arguments="{category: '{meta.categories.{event.primaryCategory.0}}'}"/>
                    <span style="color: {meta.categories.{event.primaryCategory.0}.color}">{meta.categories.{event.primaryCategory.0}.name}</span>
                </f:if>
            </div>
        </div>
    </div>
    <div class="ausstello-detail-container d-flex flex-column flex-lg-row">
        <div class="ausstello-detail-column">
            <h1 class="ausstello-detail-title">
                {event.title -> f:format.htmlentitiesDecode()}
            </h1>
            <h2 class="ausstello-detail-subtitle">
                {event.subTitle -> f:format.htmlentitiesDecode()}
            </h2>

            <div class="ausstello-detail-info-desktop">
                <f:if condition="{event.bookingLink.url} || {event.externalLink.url}">
                    <div class="ausstello-detail-event-links">
                        <f:if condition="{event.bookingLink.url}">
                            <a href="{f:uri.typolink(parameter: event.bookingLink.url )}" target="{event.bookingLink.target}">
                                <f:image src="EXT:ausstello/Resources/Public/Icons/ticket.svg" width="18" height="12"/>
                                Tickets buchen</a>
                        </f:if>
                        <f:if condition="{event.externalLink.url}">
                            <a href="{f:uri.typolink(parameter: event.externalLink.url )}" target="{event.externalLink.target}">
                                <f:image src="EXT:ausstello/Resources/Public/Icons/external_link.svg" width="15" height="15"/>
                                Weitere Informationen</a>
                        </f:if>
                    </div>
                </f:if>
                <f:if condition="{event.location -> f:count()} > 0">
                    <h3 class="ausstello-detail-location-header">Veranstaltungsort:</h3>
                    <div class="ausstello-detail-location-item">
                        <f:for each="{event.location}" as="l">
                            <f:render partial="Event/Location" arguments="{location: '{meta.locations.{l}}', settings: settings}"/>
                        </f:for>
                    </div>
                </f:if>
            </div>
        </div>
        <div class="ausstello-detail-column d-flex d-lg-none">
            <div class="ausstello-detail-primary-category">
                <f:if condition="{event.primaryCategory.0}">
                    <f:render partial="Event/CategoryIcon"
                              arguments="{category: '{meta.categories.{event.primaryCategory.0}}'}"/>
                    <span style="color: {meta.categories.{event.primaryCategory.0}.color}">{meta.categories.{event.primaryCategory.0}.name}</span>
                </f:if>
            </div>
        </div>
        <f:if condition="{event.images.0}">
            <div class="ausstello-detail-column">
                <f:if condition="{event.images -> f:count()} > 1">
                    <f:then>
                        <div class="swiper" id="lightbox-gallery">
                            <div class="swiper-wrapper" itemscope itemtype="http://schema.org/ImageGallery">
                                <f:for as="image" each="{event.images}">
                                    <div class="swiper-slide" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                        <a href="{ausstello:remote.uri.image(src: image.file.publicUrl)}"
                                           data-pswp-width="{image.file.width}"
                                           data-pswp-height="{image.file.height}"
                                           itemprop="contentUrl"
                                           target="_blank"
                                           style="display: block; text-decoration: none;"
                                        >
                                            <div class="ausstello-slide-image">
                                                <ausstello:remote.image
                                                    alt="{image.alternative}"
                                                    loading="lazy"
                                                    width="880"
                                                    src="{image.file.publicUrl}"
                                                    additionalAttributes="{itemprop: 'thumbnail'}"
                                                />
                                                <f:if condition="{image.copyright}">
                                                    <span class="image-copyright">© {image.copyright}</span>
                                                </f:if>
                                            </div>
                                            <div class="ausstello-slide-caption pswp-caption-content">
                                                {image.description}

                                                <f:if condition="{image.copyright}">
                                                    <span class="image-copyright">© {image.copyright}</span>
                                                </f:if>
                                            </div>
                                        </a>
                                    </div>
                                </f:for>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </f:then>
                    <f:else>
                        <div id="lightbox-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                            <f:alias map="{image: event.images.0}">
                                <div itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                    <a href="{ausstello:remote.uri.image(src: image.file.publicUrl)}"
                                       data-pswp-width="{image.file.width}"
                                       data-pswp-height="{image.file.height}"
                                       itemprop="contentUrl"
                                       target="_blank"
                                       style="display: block; text-decoration: none;"
                                    >
                                        <div class="ausstello-slide-image ausstello-slide-image-{f:if(condition: '{image.file.width} < {image.file.height}', then: 'contain', else: 'cover')}">
                                            <ausstello:remote.image
                                                alt="{image.alternative}"
                                                loading="lazy"
                                                width="880"
                                                src="{image.file.publicUrl}"
                                                additionalAttributes="{itemprop: 'thumbnail'}"
                                            />
                                            <f:if condition="{image.copyright}">
                                                <span class="image-copyright">© {image.copyright}</span>
                                            </f:if>
                                        </div>
                                        <div class="ausstello-slide-caption pswp-caption-content">
                                            {image.description}
                                            <f:if condition="{image.copyright}">
                                                <span class="image-copyright">© {image.copyright}</span>
                                            </f:if>
                                        </div>
                                    </a>
                                </div>
                            </f:alias>
                        </div>
                    </f:else>
                </f:if>
            </div>
        </f:if>
        <div class="ausstello-detail-info-mobile">
            <f:if condition="{event.bookingLink.url} || {event.externalLink.url}">
                <div class="ausstello-detail-event-links">
                    <f:if condition="{event.bookingLink.url}">
                        <a href="{f:uri.typolink(parameter: event.bookingLink.url)}" target="{event.bookingLink.target}">
                            <f:image src="EXT:ausstello/Resources/Public/Icons/ticket.svg" width="18" height="12"/>
                            Tickets buchen</a>
                    </f:if>
                    <f:if condition="{event.externalLink.url}">
                        <a href="{f:uri.typolink(parameter: event.externalLink.url)}" target="{event.externalLink.target}">
                            <f:image src="EXT:ausstello/Resources/Public/Icons/external_link.svg" width="15" height="15"/>
                            Weitere Informationen</a>
                    </f:if>
                </div>
            </f:if>
            <f:if condition="{event.location}">
                <h3 class="ausstello-detail-location-header">Veranstaltungsort:</h3>
                <f:for each="{event.location}" as="l">
                    <div class="ausstello-detail-location-item">
                        <i class="bi bi-geo-alt-fill"></i>
                        <f:render partial="Event/Location" arguments="{location: '{meta.locations.{l}}'}"/>
                    </div>
                </f:for>
            </f:if>
        </div>
    </div>

    <f:if condition="{event.tags}">
        <div class="ausstello-detail-categories">
            <f:for each="{event.tags}" as="t">
                <f:variable name="tag" value="{meta.tags.{t}}"/>
                <f:if condition="{tag.displayOnWebsite} !== false"><span
                    class="ausstello-list-category-item" style="text-decoration: underline">#{tag.name}</span>
                </f:if>
            </f:for>
        </div>
    </f:if>

    <div class="ausstello-detail-description">
        <div>{event.description -> f:format.htmlentitiesDecode()}</div>
    </div>
    <f:if condition="{event.partner} || {event.sponsor}">
        <div class="ausstello-detail-partner-sponsor">
            <f:if condition="{event.partner}">
                <div class="ausstello-detail-partner {meta.settings.style.other.boxTemplate}">
                    <h4 class="ausstello-detail-subheader">In Zusammenarbeit mit:</h4>
                    <f:for each="{event.partner}" as="p">
                        <f:render partial="Event/Box{meta.settings.style.other.boxTemplate}" arguments="{item: '{meta.partners.{p}}'}"/>
                    </f:for>
                </div>
            </f:if>
            <f:if condition="{event.sponsor}">
                <div class="ausstello-detail-sponsor {meta.settings.style.other.boxTemplate}">
                    <h4 class="ausstello-detail-subheader">Unterstützt durch:</h4>
                    <f:for each="{event.sponsor}" as="s">
                        <f:render partial="Event/Box{meta.settings.style.other.boxTemplate}" arguments="{item: '{meta.sponsors.{s}}'}"/>
                    </f:for>
                </div>
            </f:if>
        </div>
    </f:if>

    <f:if condition="{meta.settings.publish.inlineTextDetail}">
        <div class="ausstello-detail-inline-text">
            <f:format.html>{meta.settings.publish.inlineTextDetail}</f:format.html>
        </div>
    </f:if>

    <div class="ausstello-detail-container d-flex flex-row">
        <div class="ausstello-detail-column">
            <a class="ausstello-back" href="{f:uri.action(action: 'list', absolute: '1', extensionName: 'ausstello', pluginName: 'Event', controller: 'Event', pageUid: settings.listPid)}" onclick="window.history.back(); return false;" target="_top">
                <f:image src="EXT:ausstello/Resources/Public/Icons/arrow_left.svg" width="15" height="15"/> zurück
            </a>
        </div>
        <div class="ausstello-detail-column" style="display: flex;">
            <a class="ausstello-share"
               data-title="{event.title -> f:format.htmlentitiesDecode()}"
               data-text="{event.subTitle -> f:format.htmlentitiesDecode()}"
               href="{f:uri.page(absolute: '1', addQueryString: '1')}"
               onclick="window.navigator.share({title: this.dataset.title, text: this.dataset.text, url: this.href}); return false;" target="_top">
                <f:image src="EXT:ausstello/Resources/Public/Icons/share.svg" width="18" height="23"/>
            </a>
        </div>
    </div>
</f:section>
</html>
