<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:ausstello="http://typo3.org/ns/Werkraum/Ausstello/ViewHelper"
      data-namespace-typo3-fluid="true"
>
<f:layout name="Default"/>
<f:section name="Main">
    <f:if condition="{displayType} == 'teaser'">
        <f:then>
            <div class="ausstello-teaser">
                <f:for as="event" each="{events.pager.items}">
                    <f:render partial="List/ListItem" arguments="{event: event, settings: settings, meta: meta}"/>
                </f:for>
            </div>
        </f:then>
        <f:else>
            <f:render partial="Event/Form" arguments="{_all}"/>
            <f:render partial="List/InlineText" arguments="{_all}"/>
            <div class="ausstello-list">
                <f:for as="event" each="{events.pager.items}">
                    <f:variable name="date">{event.startDate -> f:format.date(format: '%A, %d. %B %Y')}</f:variable>
                    <f:if condition="{date} !== {prevDate}">
                        <f:then><div class="ausstello-list-section-date">{date}</div></f:then>
                        <f:else><!-- {date} --></f:else>
                    </f:if>
                    <f:variable name="prevDate">{date}</f:variable>
                    <f:render partial="List/ListItem" arguments="{event: event, settings: settings, meta: meta}"/>
                </f:for>
            </div>
            <f:render partial="Pagination" arguments="{pagination: events.pager.pagination, search: search}"/>
        </f:else>
    </f:if>

    <f:render partial="List/NoResults" arguments="{_all}"/>
</f:section>
</html>
